# Slot x/y need to be mutable for dynamic component layout repositioning
public-f net.minecraft.world.inventory.Slot f_40220_ # x
public-f net.minecraft.world.inventory.Slot f_40221_ # y

# Expose block-breaking progress map so BER can detect destroy stage
public net.minecraft.client.renderer.LevelRenderer f_109409_ # destructionProgress
